<div class="container__big-card">
  <div class="big-card__foto">
    <img
    src="https://conteudo.imguol.com.br/c/entretenimento/89/2020/11/12/audi-r8-v10-1605225032143_v2_750x421.jpg.webp"
    height="250px"
    alt=""
    srcset=""/>
  </div>


  <div class="big-card__titulo">

    <h1><a href="https://www.uol.com.br/carros/listas/carros-superesportivos-quais-sao-os-principais-a-venda-no-brasil.htm">Carros superesportivos: quais são os modelos à venda no Brasil...</a></h1>
  </div>



  <div class="big-card__descricao">
    <p>Audi R8 V10
      O R8 ficou conhecido mundialmente após participar do filme ?Homem de Ferro?.
       O superesportivo foi lançado em 2006 e rapidamente ganhou fama mundial.
       O modelo atual é uma reestilização da segunda geração, que estreou em 2015.</p>
  </div>
</div>
