.menu__title__cotainer{
  color: white;
}

.menu__title__cotainer > h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 153px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}

.menu__title__cotainer > hr {
  margin-top: 15px;
  margin-bottom: 15px;
}
