<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card photoCover="https://conteudo.imguol.com.br/c/entretenimento/89/2020/11/12/audi-r8-v10-1605225032143_v2_750x421.jpg.webp"

    cardTitle="Carros superesportivos: quais são os modelos à venda no Brasil..."

    cardDescription="Audi R8 V10O R8 ficou conhecido mundialmente após participar do filme ?Homem de Ferro?.O superesportivo foi lançado em 2006 e rapidamente ganhou fama mundial.O modelo atual é uma reestilização da segunda geração, que estreou em 2015."

    >
    </app-big-card>
  </div>

  <div class="article__outros">
    <app-small-card photoCover="https://pics.porsche.com/rtt/iris?COSY-EU-100-1713c6eK12UC31P3T5JOCU%25hjdmiTDDmvMXlHWguCuq6Q44RtRHo9ZAaDjYu5P3I7tGW3rNbZJNKXv9Z7KcQQ%25yFN5tFAsXrw4r3wo0qnqZr8MCnR4i84tV2YN2OmNyW1QGWgCWKMUuyO8mv60KZvmWTQSs4aifSZq1BDYJjqZ8PJ2USkofDAYCZKrlPokITHnvbQY4W%25Voagmlrv10IdQ4qTuNZ3Ui6vDwAB5V8elC2KcQ2V5Bgy98z5QQjsEpB7plt02UCpgP3Tm2iAyJmnxteC"
    cardTitle="O 911 Carrera T.
    Quando o contato com a pista se torna mais importante. Quando a redução de cada quilo promete mais agilidade. Então chega-se ao ponto em que o espírito esportivo assume o controle. O 911 Carrera T é um compromisso com o purismo. Uma renúncia consciente. Para maior prazer ao dirigir."
    ></app-small-card>
    <app-small-card photoCover="https://www.audi.com.br/content/dam/nemo/models/a6/rs-6-avant/my-2022/derivativ-startpage/stage/1920x1080-rs6_2020_1530.jpg?imwidth=1920"
    cardTitle="Experiência de condução. O motor TFSI biturbo V8 de 4.0 litros é o poderoso coração deste carro esportivo, embalando uma dinâmica de 600cv de potência."
    ></app-small-card>
    <app-small-card photoCover="https://www.bmw.com.br/content/dam/bmw/common/all-models/x-series/x6/2023/highlights/bmw-x-series-x6-sp-desktop.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1673974210920.jpg"
    cardTitle="No novo BMW X6, você desfruta da máxima dinâmica ao dirigir esportivamente, bem como do seu design esportivo, com luxuosos equipamentos:"
    ></app-small-card>
  </div>

</div>

<h1>VEJA MAIS</h1>
<hr>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card photoCover="https://conteudo.imguol.com.br/c/entretenimento/89/2020/11/12/audi-r8-v10-1605225032143_v2_750x421.jpg.webp"

    cardTitle="Carros superesportivos: quais são os modelos à venda no Brasil..."

    cardDescription="Audi R8 V10O R8 ficou conhecido mundialmente após participar do filme ?Homem de Ferro?.O superesportivo foi lançado em 2006 e rapidamente ganhou fama mundial.O modelo atual é uma reestilização da segunda geração, que estreou em 2015."

    >
    </app-big-card>
  </div>

  <div class="article__outros">
    <app-small-card photoCover="https://pics.porsche.com/rtt/iris?COSY-EU-100-1713c6eK12UC31P3T5JOCU%25hjdmiTDDmvMXlHWguCuq6Q44RtRHo9ZAaDjYu5P3I7tGW3rNbZJNKXv9Z7KcQQ%25yFN5tFAsXrw4r3wo0qnqZr8MCnR4i84tV2YN2OmNyW1QGWgCWKMUuyO8mv60KZvmWTQSs4aifSZq1BDYJjqZ8PJ2USkofDAYCZKrlPokITHnvbQY4W%25Voagmlrv10IdQ4qTuNZ3Ui6vDwAB5V8elC2KcQ2V5Bgy98z5QQjsEpB7plt02UCpgP3Tm2iAyJmnxteC"
    cardTitle="O 911 Carrera T.
    Quando o contato com a pista se torna mais importante. Quando a redução de cada quilo promete mais agilidade. Então chega-se ao ponto em que o espírito esportivo assume o controle. O 911 Carrera T é um compromisso com o purismo. Uma renúncia consciente. Para maior prazer ao dirigir."
    ></app-small-card>
    <app-small-card photoCover="https://www.audi.com.br/content/dam/nemo/models/a6/rs-6-avant/my-2022/derivativ-startpage/stage/1920x1080-rs6_2020_1530.jpg?imwidth=1920"
    cardTitle="Experiência de condução. O motor TFSI biturbo V8 de 4.0 litros é o poderoso coração deste carro esportivo, embalando uma dinâmica de 600cv de potência."
    ></app-small-card>
    <app-small-card photoCover="https://www.bmw.com.br/content/dam/bmw/common/all-models/x-series/x6/2023/highlights/bmw-x-series-x6-sp-desktop.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1673974210920.jpg"
    cardTitle="No novo BMW X6, você desfruta da máxima dinâmica ao dirigir esportivamente, bem como do seu design esportivo, com luxuosos equipamentos:"
    ></app-small-card>
  </div>

</div>
